<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lubenard.oring_reminder">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.oring">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.oring"
            android:configChanges="uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BackupRestore"/>
        <receiver android:name=".broadcast_receivers.NotificationSenderBroadcastReceiver"/>
        <receiver android:name=".broadcast_receivers.NotificationSenderBreaksBroadcastReceiver"/>
        <receiver android:name=".broadcast_receivers.NotificationReceiverBroadcastReceiver"/>
        <!--When boot is completed, launch this BroadcastReceiver with given Intents-->
        <receiver android:name=".broadcast_receivers.AfterBootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
        <!-- Widget manifest -->
        <receiver android:name="CurrentSessionWidgetProvider" >
            <intent-filter>
                <action android:name="com.lubenard.oring_reminder.WIDGET_BUTTON" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/current_sessions_widget_metadatas" />
        </receiver>

    </application>
</manifest>